/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    padding: 0px;
    margin: 0px;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--second-color);
}

:root {
    --first-color: rgb(253, 232, 131);
    --second-color: rgb(247, 247, 238);
    --third-color: rgb(247, 209, 95);
    --fourth-color: rgb(251, 153, 15);
    --fifth-color: rgb(248, 128, 0);
    --sixth-color: rgb(243, 66, 9);
}

body {
    height: auto;
    width: auto;
    background-image: linear-gradient(rgb(253, 232, 131), rgb(248, 128, 0), rgb(247, 247, 238), rgb(251, 153, 15));
}

header {
    top: 0;
    left: 0;
    width: 100%;
}


h1 {
    display: grid;
    background-color: var(--sixth-color);
    grid-template-rows: 1;
    justify-content: center;
}

#navbar {
    padding-top: 10px;
    padding-left: 0px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: left;
}

#navbar>* {

    background: rgb(243, 66, 9);
    color: rgb(247, 209, 95);
    text-decoration: none;
    font-size: x-large;
    margin: 10px 10px;
}

.container {
    height: 800px;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-position: top;
    opacity: .8;
}

.container>div {
    height: 350px;
    width: 475px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

.container>div:nth-of-type(1) {
    border-radius: 20%;
    background: url("../images/breakfast-platter.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container>div:nth-of-type(2) {
    border-radius: 20%;
    background: url("../images/BagelAndCheese.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container>div:nth-of-type(3) {
    border-radius: 20%;
    background: url("../images/Cup-Coffee.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container>div:nth-of-type(4) {
    border-radius: 20%;
    background: url("../images/baconOnToast.png");
    background-size: cover;
    background-attachment: fixed;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: var(--sixth-color);
}